<!-- Form Entry -->
<div class="container">
  <h1 class="display-1 text-center">Wellcome</h1>
  <h1 class="dispaly-3 text-center">Form Entry</h1>
  <div class="col-6 m-auto">
    <form #myForm="ngForm" (submit)="GetForm( myForm.value)">
      <label>Name</label>
      <input class="form-control" name="Name" type="text" ngModel>
      <label>Phone</label>
      <input class="form-control" name="Phone" type="text" ngModel>
      <label>Address</label>
      <input class="form-control" name="Address" type="text" ngModel>
      <label>Work</label>
      <input class="form-control" name="Work" type="text" ngModel>
      <label>Grade</label>
      <input class="form-control" name="Grade" type="text" ngModel>

      <button class="btn btn-primary mt-2" type="submit">Submit</button>
    </form>

    your form Data {{myForm.value|json}}
  </div>
</div>

<!-- showing Table -->
<div class="container mt-3 bg-info rounded roundend-4 p-5">
  <h1 class="dispaly-3 text-center">Table</h1>

  <table class=" table table-primary ">
    <thead>
      <tr>
        <th>Name</th>
        <th>Father name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of [1,2,3,4,6,9,3]">
        <td>Shaid</td>
        <td>No {{x}}</td>
      </tr>
    </tbody>
  </table>

</div>

<!-- working with cards -->
<div class="container mt-3  rounded roundend-4 p-5">
  <h1 class="dispaly-3 text-center">Cards</h1>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab"
        aria-controls="home" aria-selected="true">Home</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab"
        aria-controls="profile" aria-selected="false">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button"
        role="tab" aria-controls="messages" aria-selected="false">Messages</button>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
      home
      <!-- country names list -->
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Pakistan citys</h4>
          <p class="card-text">here are the mmain citys of pakistani country</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Blochistan</li>
          <li class="list-group-item">Punjab</li>
          <li class="list-group-item">karach</li>
        </ul>
      </div>

      <button class="btn btn-secondary" (click)="showToast()">toast</button>

    </div>
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modalId">
        Launch
      </button>
<!-- yes -->
      <!-- Modal -->
      <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTitleId">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form #modelForm = 'ngForm'>
                  <label for="">Email</label>
                  <input type="email" name="Email" id="" class="form-control" ngModel>
                  <label for="">Name</label>
                  <input type="text" name="Name" id="" class="form-control" ngModel>
                  <label for="">Employee</label>
                  <input type="checkbox" name="Employee" id="" class="form-control" ngModel>
                  <label for="">skinColor</label>
                  <input type="color" name="skinColor" id="" class="form-control" ngModel>
                  <label for="">DateOfBirth</label>
                  <input type="datetime" name="DateOfBirth" id="" class="form-control" ngModel>
                  <label for="">file</label>
                  <input type="file" name="file" id="" class="form-control" ngModel>
                  <label for="">Password</label>
                  <input type="password" name="Password" id="" class="form-control" ngModel>
                  <label for=""></label>
                  <input type="image" src="" alt="">
                  <label for="">Time</label>
                  <input type="time" name="Time" id="" class="form-control" ngModel>
                  <label for="">Url</label>
                  <input type="url" name="Url" id="" class="form-control" ngModel>
                  <label for="">week</label>
                  <input type="week" name="week" id="" class="form-control" ngModel>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div>
      {{modelForm.value|json}}
      <script>
        var modalId = document.getElementById('modalId');

        modalId.addEventListener('show.bs.modal', function (event) {
          // Button that triggered the modal
          let button = event.relatedTarget;
          // Extract info from data-bs-* attributes
          let recipient = button.getAttribute('data-bs-whatever');

          // Use above variables to manipulate the DOM
        });
      </script>

    </div>
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab"> messages </div>
  </div>

</div>